body {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  background: #212222 !important;
  align-items: center;
}

.heading {
  color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
  display: block;
}

.container {
  background: rgba(255, 255, 255, 0.123);
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.select-box {
  border: #06283d;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin: 10px auto 10px auto;
  display: block;
  text-wrap: auto;
}

.input {
  border: #06283d;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin: 10px auto 10px auto;
  display: block;
}

.label-info {
  font-size: 20px;
  text-align: center;
  color: white;
  align-items: center;
}

.primary-button {
  background-color: rgba(0, 200, 0, 0.5);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 200px;
  margin: 30px auto auto auto;
  display: block;
}

.primary-button:hover,
.primary-button:focus {
  background-color: #04f718;
}

.player-name {
  margin-top: 10px;
  margin-bottom: 10px;
  border: #06283d;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin: 20px auto 10px auto;
  display: block;
  min-width: 70%;
}

.game-status {
  margin-left: 2px;
  margin-top: 2px;
  margin-right: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(65, 65, 247, 0.512);
  max-width: 30%;
}

.game-status:hover,
.game-status:focus {
  background-color: rgb(65, 65, 247);
}

.score-input-group {
  display: block;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container {
  display: grid;
  grid-template-columns: max-content max-content;
}

.score-input {
  display: grid;
}

.checkbox-label {
  text-align: right;
  margin-top: 5px;
}

.card-checkbox {
  margin-top: 10px;
  margin-left: 30px;
}

#backButton {
  background-color: rgba(255, 0, 0, 0.399);
}

#backButton:hover,
#backButton:focus {
  background-color: red;
}
