body {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  align-items: center;
  background-color: black;
}

.heading {
  color: rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 50px;
  font-size: 70px;
  text-align: center;
  display: block;
}

.miniLogo {
  max-width: 100px;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}
.container {
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-height: 100%;
  padding-bottom: 10px;
  overflow: auto;
}

.select-box {
  border: #06283d;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin: 10px auto 10px auto;
  display: block;
  text-wrap: auto;
  background-color: rgba(255, 255, 255, 0.241);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input {
  border: #06283d;
  border-radius: 10px;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin: 10px auto 10px auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.241);
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.label-info {
  font-size: 20px;
  text-align: center;
  color: white;
  align-items: center;
}

.primary-button {
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 200px;
  margin: 30px auto auto auto;
  display: block;
  background: rgba(14, 250, 6, 0.349);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.primary-button:hover,
.primary-button:focus {
  background-color: #04f718;
}

.player-name {
  margin-top: 10px;
  margin-bottom: 10px;
  border: #06283d;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin: 20px auto 10px auto;
  display: block;
  min-width: 50%;
  background-color: rgba(255, 255, 255, 0.241);
  color: white;
}

.game-status {
  margin-left: 2px;
  margin-top: 2px;
  margin-right: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(65, 65, 247, 0.512);
  max-width: 30%;
}

.game-status:hover,
.game-status:focus {
  background-color: rgb(65, 65, 247);
}

.score-input-group {
  display: block;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container {
  display: grid;
  grid-template-columns: max-content max-content;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.score-input {
  display: grid;
}

.checkbox-label {
  text-align: right;
  margin-top: 5px;
}

.card-checkbox {
  margin-top: 10px;
  margin-left: 30px;
}

.logo {
  max-width: 20%;
}

.pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-image: url(/assets/img/paper.jpg);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#startScreen {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

#gameDataGrid {
  border-collapse: separate;
  border-spacing: 5px;
  overflow: auto;
}

#gameDataGrid th,
#gameDataGrid td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}

#closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeButton:hover,
#closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#continueButton {
  background-color: rgb(0, 134, 0);
}

#backButton {
  background-color: rgb(255, 0, 0);
}

#backButton:hover,
#backButton:focus {
  background-color: red;
}

#sessionLogo {
  position: relative;
}

#smokeVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#roundCount {
  font-size: 20px;
}

#currentPlayer {
  margin: 0;
}

#detach-button-host {
  display: none !important;
}

#gameStatus {
  margin-left: 2px;
  margin-top: 2px;
  margin-right: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: url(/assets/img/paper.jpg) rgba(65, 65, 247, 0.512);
  color: black;
  max-width: 30%;
}

#gameStatus:hover,
#gameStatus:focus {
  background-color: rgb(65, 65, 247);
}

#winMessage {
  display: flex;
  justify-content: center;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .logo {
    max-width: 60%;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 810px) {
  .logo {
    max-width: 40%;
  }
  #startScreen {
    padding-bottom: 100px;
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
